* {
    box-sizing: border-box;

}

body {
    background-color: antiquewhite;
    margin: 0;
}

.cards-container {
    display: flex;

}

.card {
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 2px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-inline-end: 1rem;


}

img {
    object-position: top;
    border-radius: 4px;
    object-fit: cover;
    height: 300px;
    width: 100%;

}

figcaption {
    margin-inline-start: 1rem;
    padding-block-end: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    padding: 8px;
}